@model ModelDemo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyController FirstPage</title>
</head>
<body>
    <div> 
        <h1>MyController FirstPage</h1>
        <h2>编号:@Model.id</h2>
        <h2>编号:@Model.name</h2>
    </div>
</body>
</html>
